.human-icon-container,
.computer-icon-container {
  padding: 2rem 0 0;
  overflow: hidden;
  @media screen and ( min-width: $screen-md ) {
    padding: 3rem 0 0;
  }

  @media screen and ( min-width: $screen-lg ) {
    padding: 4rem 0 0;
  }
}

.human-icon-container {
  animation: humanHandShuffle 1s ease infinite;
  transform-origin: 10% 90%;
}

@keyframes humanHandShuffle {
  0% { transform: rotate( 0deg ); }
  30% { transform: rotate( 0deg ); }
  92% { transform: rotate( -15deg ); }
  100% { transform: rotate( 0deg ); }
}

.computer-icon-container {
  animation: computerHandShuffle 1s ease infinite;
  transform-origin: 90% 90%;
}

@keyframes computerHandShuffle {
  0% { transform: rotate( 0deg ); }
  30% { transform: rotate( 0deg ); }
  92% { transform: rotate( 15deg ); }
  100% { transform: rotate( 0deg ); }
}

.stop-animation {
  animation: none !important;
}

.thinking-message span {
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  &:nth-child(1) {
    animation-name: ellipsis-1;
  }

  &:nth-child(2) {
    animation-name: ellipsis-2;
  }

  &:nth-child(3) {
    animation-name: ellipsis-3;
  }
}

@keyframes ellipsis-1 {
    0% { opacity: 0; }
   24% { opacity: 0; }
   25% { opacity: 1; }
   99% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes ellipsis-2 {
    0% { opacity: 0; }
   49% { opacity: 0; }
   50% { opacity: 1; }
   99% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes ellipsis-3 {
    0% { opacity: 0; }
   74% { opacity: 0; }
   75% { opacity: 1; }
   99% { opacity: 1; }
  100% { opacity: 0; }
}
