.human-icon-container {
  animation: humanHandShuffle 1s ease infinite;
  transform-origin: 10% 90%;
  padding: 50px 0 0;
}

@keyframes humanHandShuffle {
  0% { transform: rotate( 0deg ); }
  30% { transform: rotate( 0deg ); }
  92% { transform: rotate( -15deg ); }
  100% { transform: rotate( 0deg ); }
}

.computer-icon-container {
  animation: computerHandShuffle 1s ease infinite;
  transform-origin: 90% 90%;
  padding: 50px 0 0;
}

@keyframes computerHandShuffle {
  0% { transform: rotate( 0deg ); }
  30% { transform: rotate( 0deg ); }
  92% { transform: rotate( 15deg ); }
  100% { transform: rotate( 0deg ); }
}

.stop-animation {
  animation: none !important;
}






.ellipsis-anim span {
  opacity: 0;
  -webkit-animation: ellipsis-dot 1s infinite;
  animation: ellipsis-dot 1s infinite;
}

.ellipsis-anim span:nth-child(1) {
  -webkit-animation-delay: 0.0s;
  animation-delay: 0.0s;
}
.ellipsis-anim span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.ellipsis-anim span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes ellipsis-dot {
    0% { opacity: 0; }
   50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes ellipsis-dot {
    0% { opacity: 0; }
   50% { opacity: 1; }
  100% { opacity: 0; }
}