.human-icon,
.computer-icon {
  font-size: $md-icon;
  @media all and ( min-width: $screen-lg ) {
    font-size: $lg-icon;
  }
}

.human-icon {
  &.fa-hand-scissors,
  &.fa-hand-lizard {
    transform: scaleX(-1);
  }

  &.fa-hand-rock,
  &.fa-hand-paper,
  &.fa-hand-spock {
    transform: rotate(90deg);
  }
}

.computer-icon {
  &.fa-hand-rock,
  &.fa-hand-paper,
  &.fa-hand-spock {
    transform: scaleX(-1) rotate(90deg);
  }
}
