.human-icon {
  font-size: 17vw;

  &.fa-hand-scissors,
  &.fa-hand-lizard {
    transform: scaleX(-1);
  }

  &.fa-hand-rock,
  &.fa-hand-paper,
  &.fa-hand-spock {
    transform: rotate(90deg);
  }
}

.computer-icon {
  font-size: 17vw;

  &.fa-hand-rock,
  &.fa-hand-paper,
  &.fa-hand-spock {
    transform: scaleX(-1) rotate(90deg);
  }
}
