// Default bootstrap
@import '~bootstrap/scss/mixins.scss';
@import '~bootstrap/scss/functions.scss';
@import '~bootstrap/scss/variables.scss';
@import '~bootstrap/scss/reboot.scss';

// Minimized bootstrap
@import 'bootstrap/buttons'; // on load
// @import 'bootstrap/close'; // can import with component
@import 'bootstrap/grid'; // on load
// @import 'bootstrap/modal'; // can import with component(?)
// @import 'bootstrap/tables'; // can import with component
@import 'bootstrap/type'; // on load
// @import "bootstrap/utilities/sizing"; // can import with component(?)
@import "bootstrap/utilities/text"; // on load

// Custom styles
@import "variables";
@import "animation";
@import "icon";

html {
  font-size: 14px;
  @media all and (min-width: $screen-sm) {
    font-size: 16px;
  }

  @media all and (min-width: $screen-lg) {
    font-size: 18px;
  }

  a {
    &:focus {
      outline: none;
      color: #0056b3;
    }
  }
}

#ProSlaps {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgba( 0, 0, 0, .5 );
}
