// Default bootstrap
@import '~bootstrap/scss/mixins.scss';
@import '~bootstrap/scss/functions.scss';
@import '~bootstrap/scss/variables.scss';
@import '~bootstrap/scss/reboot.scss';

// Minimized bootstrap
@import 'bootstrap/buttons';
@import 'bootstrap/grid';
@import 'bootstrap/type';
@import "bootstrap/utilities/text";

// Custom styles
@import "variables";
@import "animation";
@import "icon";

html {
  font-size: 14px;
  @media all and (min-width: $screen-sm) {
    font-size: 16px;
  }

  @media all and (min-width: $screen-lg) {
    font-size: 18px;
  }

  a {
    &:focus {
      outline: none;
      color: #0056b3;
    }
  }
}

#ProSlaps {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
