@import "variables";

html {
  font-size: 14px;
  @media all and (min-width: $screen-sm) {
    font-size: 16px;
  }

  @media all and (min-width: $screen-lg) {
    font-size: 18px;
  }
}


#ProSlaps {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba( 0, 0, 0, .5 );
}

@import "animation";
@import "icon";
